In [1]:
import dependencies
import soft_dependencies

Python Version 3.9.12 (main, Apr  5 2022, 01:53:17)
[Clang 12.0.0 ]
Numpy Version 1.21.5
Scipy Version 1.7.3
Sklearn Version 1.0.2
Matplotlib Version 3.5.1
Pandas Version 1.4.2
Line Profiler Version 3.3.1
Memory Profiler Version 0.58.0

In [2]:
import numpy as np
import pandas as pd

In [3]:
np.set_printoptions(precision=3, suppress=True)
%load_ext line_profiler
%load_ext memory_profiler
%load_ext autoreload
%autoreload 2

# Mouse Embryonic Stem Cell Data
Data from paper "Computational analysis of cell-to-cell heterogeneity in single-cell RNA-sequencing data reveals hidden subpopulations of cells" by Buettner et al.
https://www.nature.com/articles/nbt.3102#accession-codes

Specifically, downloaded from here (the 'processed data'):
https://www.ebi.ac.uk/biostudies/arrayexpress/studies/E-MTAB-2805

In [24]:
# Read the data inp
G1_df = pd.read_csv(
    '../Data/E-MTAB-2805.processed.1/G1_singlecells_counts.txt',
    sep='\t'
).dropna()
G2M_df = pd.read_csv(
    '../Data/E-MTAB-2805.processed.1/G2M_singlecells_counts.txt',
    sep='\t'
).dropna()
S_df = pd.read_csv(
    '../Data/E-MTAB-2805.processed.1/S_singlecells_counts.txt',
    sep='\t'
).dropna()
display(G2M_df)

,EnsemblGeneID,EnsemblTranscriptID,AssociatedGeneName,GeneLength,G2M_cell1_count,G2M_cell2_count,G2M_cell3_count,G2M_cell4_count,G2M_cell5_count,G2M_cell6_count,...,G2M_cell87_count,G2M_cell88_count,G2M_cell89_count,G2M_cell90_count,G2M_cell91_count,G2M_cell92_count,G2M_cell93_count,G2M_cell94_count,G2M_cell95_count,G2M_cell96_count
0,ENSMUSG00000000001,ENSMUST00000000001,Gnai3,3262.0,2815,562,4,529,2033,113,...,26,319,635,126,116,331,71,1,3,0
1,ENSMUSG00000000003,ENSMUST00000000003,Pbsn,902.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,ENSMUSG00000000028,ENSMUST00000000028,Cdc45,2143.0,1,3,427,252,1300,882,...,530,431,170,245,0,164,361,199,4,0
3,ENSMUSG00000000031,ENSMUST00000136359,H19,2286.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,ENSMUSG00000000037,ENSMUST00000112345,Scml2,4847.0,13,0,55,1,243,1,...,1,38,235,4,51,42,3,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38288,ENSMUSG00000097931,ENSMUST00000181419,Gm11392,710.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
38289,ENSMUSG00000097932,ENSMUST00000181148,AC160109.2,1033.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
38290,ENSMUSG00000097933,ENSMUST00000180397,AC154675.1,522.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
38291,ENSMUSG00000097934,ENSMUST00000181654,AC156980.1,1120.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
38292,ENSMUSG00000097935,ENSMUST00000180973,RP23-429I18.1,1006.0,1,0,1,1,2,3,...,1,1,2,1,1,2,1,0,2,5